@model HeThongThueXe.Models.Xe

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .table_header {
        text-align: left;
        font-weight: bolder;
        padding-right: 10px;
    }

    table.info {
        margin-left: 10px;
    }

    .delete {
        background-color: orangered
    }

    .donVi {
        font-size: small;
    }
</style>
<h2>Delete</h2>
<hr />
<h3>Are you sure you want to delete this?</h3>
<div class="container">
    <table>
        <tr>
            <td>
                <div class="col">
                    <img src="@Url.Content(Model.HinhAnh)" style="width:500px; height:400px" />
                </div>
            </td>
            <td>
                <table class="info">
                    <tr>
                        <td class="table_header">
                            @Html.DisplayNameFor(model => model.DongXe.Ten)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.DongXe.Ten)
                        </td>
                    </tr>
                    <tr>
                        <td class="table_header">
                            @Html.DisplayNameFor(model => model.BienSo)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.BienSo)
                        </td>
                    </tr>
                    <tr>
                        <td class="table_header">
                            @Html.DisplayNameFor(model => model.HangXe.Ten)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.HangXe.Ten)
                        </td>
                    </tr>

                    <tr>
                        <td class="table_header">
                            @Html.DisplayNameFor(model => model.DongXe.SoCho)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.DongXe.SoCho)
                        </td>
                    </tr>
                    <tr>
                        <td class="table_header">
                            @Html.DisplayNameFor(model => model.NamSX)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.NamSX)
                        </td>
                    </tr>
                    <tr>
                        <td class="table_header">
                            @Html.DisplayNameFor(model => model.GhiChu)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.GhiChu)
                        </td>
                    </tr>
                    <tr>
                        <td class="table_header">
                            @Html.DisplayNameFor(model => model.TyLeGia)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.TyLeGia)
                        </td>
                    </tr>
                    <tr>
                        <td class="table_header">
                            @Html.DisplayNameFor(model => model.TinhTrang)
                        </td>

                        <td>
                            @if (Model.TinhTrang == true)
                            {
                                <p>Stock</p>
                            }
                            else
                            {
                                <p>Out of stock</p>
                            }
                        </td>
                    </tr>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ID)
                        <tr>
                            <td colspan="2" style=" color:aliceblue ;text-align:center">
                                <input type="submit" class="btn btn-default" style="background-color:orangered" value="Delete" />
                                @Html.ActionLink("Back to List", "Index")
                            </td>
                        </tr>
                    }

                </table>
            </td>
        </tr>
    </table>
</div>


