@model IEnumerable<HeThongThueXe.Models.HopDongThueXe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .trip-form {
        border-radius: 10px;
        text-align: center;
        font-size: 25px;
        margin-top: -400px;
        display:block;
    }

    .btn {
        color: ghostwhite;
        text-align: center;
        margin-bottom: 10px;
        background-color: lightcoral;
        border-radius: 5px;
        font-size: 20px;
    }
    table{
        display:block;
        width:max-content;
    }
    tr{
        margin-top:10px;
    }
    td{
        margin-left:10px;
    }

    /*    a.btn {
        color: lightcoral;
        font-size: small;
    }

    input.btn {
        margin-right: 20px;
        background-color: deepskyblue;
        border-radius: 5px;
    }*/
</style>
<div class="ftco-blocks-cover-1">
    <div class="ftco-cover-1 overlay innerpage" style="background-image: url(../Content/images/hero_2.jpg)">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 text-center">

                </div>
            </div>
        </div>

    </div>
</div>
<div class="container">
    <table class="trip-form">
        <tr>
            <td>
                <table>
                    <tr>
                        <th>
                            Ord
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Xe.HinhAnh)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TGGiaoXe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TGTraXe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DiaDiemGiaoXe)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TrangThaiHopDong.Ten)
                        </th>
                    </tr>
                    @{int i = 0; }
                    @foreach (var item in Model)
                    {
                        i++;
                        <tr>
                            <td style="width:min-content">
                                @i
                            </td>
                            <td>
                                <img src="@Url.Content(item.Xe.HinhAnh)" style="width:100px;height:100px" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TGGiaoXe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TGTraXe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DiaDiemGiaoXe)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TrangThaiHopDong.Ten)
                            </td>
                        </tr>

                    }

                </table>
            </td>
            <td>
                @Html.ActionLink("Back", "Index", new {@class="btn"})
            </td>
        </tr>
    </table>
</div>
    
