@model HeThongThueXe.Models.User
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("LoginAccount", "Login"))
{

    <style>

        .trip-form tr.row {
            margin-top: 10px;
            margin-left: 30px;
            margin-right: 30px;
            margin-bottom: 0;
            display:table-row;

        }

        .trip-form {
            width: max-content;
            margin-left: auto;
            margin-right: auto;
            margin-top: -500px;
            margin-bottom:30px;
            height: 50%;
            display: table;
            padding-right: 10px;
            padding-bottom: 10px;
            border-radius: 10px;
        }
        td{
            margin-left:10px;
            margin-top:10px;
            display:table-cell;
        }
        .btn {
            color: ghostwhite;
            text-align: center;
            margin-bottom:10px;
        }

        a.btn {
            color: dodgerblue;
            width:max-content;
            display:inline-block;
        }

        input.btn {
            margin-right:20px;
            background-color: deepskyblue;
            border-radius: 20px;
            width:50%;
        }
        .error{
            text-align:center;
            color:orangered;
        }
        .btn_container {
            padding-top:10px;
            text-align:center;
        }
    </style>

    <div class="ftco-blocks-cover-1">
        <div class="ftco-cover-1 overlay innerpage" style="background-image: url(../Content/images/hero_2.jpg)">
            <div class="container"style="margin-bottom:10px">
                <div class="row align-items-center justify-content-center">
                </div>
            </div>
        </div>
    </div>
    <div class="trip-form">
        <table>
            <tr>
                <td colspan="2" style="text-align:center">
                    <h1>Login</h1>
                </td>
            </tr>
            <tr class="row">
                <td>@Html.LabelFor(model => model.Account)</td>
                <td>@Html.TextBoxFor(model => model.Account, new { @placeholder = "Input your username", @class = "form-control" })</td>
            </tr>
            <tr class="row">
                <td></td>
                <td class="error">@Html.ValidationMessageFor(model => model.Account)</td>
            </tr>
            <tr class="row">
                <td>@Html.LabelFor(model => model.PasswordUser)</td>
                <td>@Html.TextBoxFor(model => model.PasswordUser, new { @type = "password", @placeholder = "Input your password", @class = "form-control" })</td>
            </tr>
            <tr class="row">
                <td></td>
                <td class="error">@Html.ValidationMessageFor(model => model.PasswordUser)</td>
            </tr>
        </table>
        @if (ViewBag.Message != null)
        {
            <p class="error">@ViewBag.Message</p>
        }
        <div class="btn_container">
            <input type="submit" value="Login" name="login" class="btn" />
        </div>
        <div>
            <p style=" display:contents">You don't have account?</p>
            <a href="@Url.Action( "Register","Login")" class="btn">Register</a>
        </div>

    </div> 
    
}
<div style="display:block;height:10px"></div>